<%= javascript_tag do %>
    <!--function calculateTargetAmount(){-->
        <!--var mult1 = parseFloat($('listing_source_amount').value);-->
        <!--var mult2 = parseFloat($('listing_rate').value);-->

        <!--if ( !isNaN(mult1) && !isNaN(mult2) ){-->
            <!--$('listing_target_amount').value = new String(mult1 * mult2);-->
        <!--}-->
        <!--return null;-->
    <!--}-->
    <!--document.observe("dom:loaded", function() {-->

      <!--$('listing_source_amount').observe('keyup', function(event) {-->
        <!--calculateTargetAmount();-->
      <!--});-->
      <!--$('listing_rate').observe('keyup', function(event) {-->
        <!--calculateTargetAmount();-->
      <!--});-->
    <!--});-->

<% end %>

    <%= form_for (@listing) do |listing_form| %>
        <%= (hidden_field_tag :password, params[:password]) if (params[:password]) %>
        <% if @listing.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@listing.errors.count, "@listing") %> <%=t 'listings.new.errors'%>:</h2>

          <ul>
          <% @listing.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
        <% end %>
        <table>
            <tr><td align="right"><%=  t 'listings.new.source_type' %></td><td><%= listing_form.select     :source_type, t('listings.types').map{|key, value| [value, key]} %></td></tr>
            <tr><td align="right"><%=  t 'listings.show.source_amount' %>: </td><td><%= listing_form.text_field :source_amount %></td></tr>
            <tr><td><br/></td><td></td></tr>
            <tr><td align="right"><%=  t 'listings.new.rate' %></td><td><%= listing_form.text_field :rate %></td></tr>
            <tr><td><br/></td><td></td></tr>
            <tr><td align="right"><%=  t 'listings.new.target_type' %></td><td><%= listing_form.select     :target_type, t('listings.types').map{|key, value| [value, key]} %></td></tr>
            <tr><td align="right"><%=  t 'listings.new.target_amount' %>: </td><td><%= listing_form.text_field :target_amount %></td></tr>
            <tr><td><br/></td><td></td></tr>
            <tr><td align="right"><%=  t 'listings.new.remarks' %>: </td><td><%= listing_form.text_area  :remarks, :cols=>40, :rows=>5  %></td></tr>
            <tr><td colspan="2"><hr></td></tr>
            <%= listing_form.fields_for @listing.user do |user_fields| %>
                <tr><td align="right" width="250"><%=  t 'listings.new.password' %></td><td><%= user_fields.text_field :password %></td></tr>
                <tr><td align="right"><%=  t 'listings.new.name' %></td><td><%= user_fields.text_field :name  %></td></tr>
                <tr><td align="right"><u><%=  t 'listings.new.contact' %>*</u></td><td><%= user_fields.text_area  :contact, :cols=>40, :rows=>2 %></td></tr>
            <% end %>
            <tr><td><%= t 'listings.new.required' %></td><td><%= listing_form.submit t("form.#{params[:action]}.submit")%></td></tr>

        </table>
    <% end %>