<h1><%= t 'listings.show.listing'%>(<%= t 'listings.show.created' %>: <%= l @listing.created_at, :format=>:date_time24  %>)</h1>

<% if (params[:password]) && ( @listing.password_or_master_password?(params[:password]) )%>
    <%= link_to t('listings.show.edit'), (edit_listing_path(@listing) + "/" + params[:password]) %>
    <%= link_to(t('listings.show.destroy'), (listing_url(@listing) + "/" + params[:password]), :confirm => t('listings.show.destroy_confirm'), :method => :delete) %>
<%end%>
<p id="notice"><%= notice %></p>
<p>
    <table>
            <tr><td align="right"><%=  t 'listings.show.source_amount' %>: </td><td><%= @listing.source_amount %></td></tr>
            <tr><td align="right"><%=  t 'listings.show.source_type' %></td><td><%= t("listings.types")[@listing.source_type.to_i] %></td></tr>
            <tr><td><br/></td><td></td></tr>
            <tr><td align="right"><%=  t 'listings.show.rate' %>: </td><td><%= @listing.rate %></td></tr>
            <tr><td><br/></td><td></td></tr>
            <tr><td align="right"><%=  t 'listings.show.target_amount' %>: </td><td><%= @listing.target_amount %></td></tr>
            <tr><td align="right"><%=  t 'listings.show.target_type' %></td><td><%= t("listings.types")[@listing.target_type.to_i] %></td></tr>
            <tr><td><br/></td><td></td></tr>
            <tr><td align="right"><%=  t 'listings.show.remarks' %>: </td><td><%= @listing.remarks %></td></tr>
            <tr><td colspan="2"><hr></td></tr>

            <tr><td align="right"><%=  t 'listings.show.name' %></td><td><%= @listing.user.name  %></td></tr>
            <tr><td align="right"><%=  t 'listings.show.phone' %></td><td><%= @listing.user.phone  %></td></tr>
            <tr><td align="right"><%=  t 'listings.show.contact' %></td><td><%= @listing.user.contact   %></td></tr>
    </table>
</p>
<br />
<%= link_to t('listings.edit.listings'), listings_path %>