<!DOCTYPE html>
<html>
<head>
  <title>Curex</title>

  <% if (@yui) %>
    <%= stylesheet_link_tag 'scaffold', 'datatable' %>
    <%= javascript_include_tag 'yahoo-dom-event', 'connection-min', 'element-min', 'paginator-min', 'json-min', 'datasource-min', 'datatable-min' %>
  <% else %>
    <%= stylesheet_link_tag 'scaffold' %>
  <% end %>

  <%#= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body <%= render :inline =>"class=\"yui-skin-sam\"" if @yui%>>

<%= yield %>

</body>
</html>
