<!DOCTYPE html>
<html>
<head>
  <title>Curex</title>

  <% if (@yui) %>
    <%= stylesheet_link_tag 'application', 'datatable', 'button', 'fonts-min'%>
    <%= javascript_include_tag 'prototype', 'rails', 'application','yahoo-dom-event',\
        'connection-min', 'element-min', 'paginator-min', 'json-min', 'datasource-min', 'datatable-min', 'button-min' %>
  <% else %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'prototype','rails', 'application'%>
  <% end %>

  <%#= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body <%= render :inline =>"class=\"yui-skin-sam\"" if @yui%>>

<%= yield %>

</body>
</html>
